*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4em;
    
    
}
/* section head */
.head-section{
    border-bottom: 1.5px solid #f5f1f1 ;
    background-color: #fefcfc;
}
/* end  */
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 20px 0 20px 0;
    
}

/* logo */
.main-nav .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;   
}

.main-menu .logo i{
    padding-right: 20px;
}
/* logo end  */

/* links */
.main-nav ul{
    display: flex; 
}

a{
    text-decoration: none;
    color: #262626;
}

.main-nav ul li{
    padding: 0 15px;
    list-style: none;
    
}

.main-nav ul li a:hover{
    border-bottom: 2px solid #262626;
    padding-bottom: 3px;
    
}
.main-nav .right-menu  li{
    padding: 0 0 0 10px ;
}
/* links end */
/* button */
.button.light{
    cursor: pointer;
    padding: 7px 10px;
    border-color: transparent;
    border-radius: 5px;
    font-weight: 700;

}
.button.blue{
    cursor: pointer;
    padding: 7px 10px;
    background-color: #865DFF;
    color: white;
    border-color: transparent;
    border-radius: 5px;
    font-weight: 500;
}
/* button end*/

/* showcase */
.showcase{
    height: 600px;
    display: flex;
    
    
}
.no-map{
    height: 600px;
    width: 50%;
    padding: 70px 150px 70px 170px;
    background-color: #f9f7f7;
    
    
}
.no-map p{
    padding-top: 30px;
    padding-right: 30px;
    font-weight: 600;
    font-size: small;
}
.no-map > h1{
    font-weight:800;
    padding-right: 30px;
}

.map{
    position: relative ;
    height: 600px;
    width: 50%;
    
    z-index: -1;
}
.map::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/map\ 1.jpg);
    background-size: cover;
    background-position:  center right;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}

.count{
    margin-top: 40px;
    margin-right: 50px;
    display: inline-block;
    padding-left: 20px;
    border-left: 2px solid #f1eded ;
    color: #865DFF;
    font-size: large;
    font-weight: 700;  
}
.count h6{
    color: #a39c9c;
}

/* small nav */
.small-nav{
    background-color: white;
    margin-top: 50px;
    display:inline-block;
    border-radius: 5px;
    margin-bottom: 3px;
    
}
.small-nav ul{
    list-style: none;
    display:flex;
    
}
.small-nav li{
    padding: 10px 20px 10px;
    
}
.small-nav li:hover{
    border-bottom: 2px solid #865DFF;
}
.search{
    padding: 20px 20px 20px;;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    width: 700px;
    z-index: 6;
    justify-content: space-between;   
    font-weight: 600;
    
}
.search h6{
    color: #a39c9c;
}

.border-transparent{
    border-right: 2px solid #f1eded;
    padding-right: 50px;
}
/* card and its related classes */
.card{
    width: 300px;
    height: 350px;
    background-color: #fff;   
    margin-top: 70px; 
    border-radius: 5px;
}

.card img{
    background-size: cover;
    width: 100%;
    height: 50%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.card-text{
padding: 10px;
}
.card-text p{
    padding: 10px 0 0 0;
    font-weight: 700;
}
 .p-small{
    font-weight: 600;
    font-size: small;
    color: #a39c9c;
}
.card-icon{
    margin-top: 10px;
    padding-top: 10px;
    border-top:  2px solid #f1eded;
    display: flex;
    justify-content: space-between;
    
    padding-right: 60px;
}
.text-span{
    color:#a39c9c; 
    font-size: small;
    font-weight: 500;
}
.p-blue{
    color: #865DFF;
}
/* end of card */

/* small card by right */
.small-card{
    position:absolute;
    bottom: 40px ;
    right: 70px;
    width: 200px;
    height: 300px;
    background-color: #fff;   
    margin-top: 70px; 
    border-radius: 5px;
    font-size: small;
    border: 1px solid #865DFF;
}

.small-card img{
    background-size: cover;
    width: 100%;
    height: 50%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.card-text{
padding: 10px;
}
.card-text p{
    padding: 10px 0 0 0;
    font-weight: 700;
}
.card-text .p-small{
    font-weight: 600;
    font-size: small;
    color: #a39c9c;
}
.sc-card-icon{
    margin-top: 10px;
    padding-top: 10px;
    border-top:  2px solid #f1eded;
    display: flex;
    justify-content: space-between;
    
    padding-right: 30px;
}
.sc-text-span{
    color:#a39c9c; 
    font-size: smaller;
    font-weight: 500;
}


.inner-div{
    position: relative;
}
/* virtual tour start */
.virtual-tour{
    position: relative;
}
.virtual-tour .inner-div{
    display: flex;
    padding: 70px 170px ;
}

.virtual-tour .img-div{
    display: inline-block;
    width: 50%;
    height: 600px;
    border-radius: 5px;
    background-image: url(../images/pexels-binyamin-mellish-1396122.jpg);
    background-size: cover;
    background-position: center left;
}
/* start of second right content */
.virtual-tour .vr-div{
    display: inline-block;
    width: 50%;
    padding: 10% 2% 10% 8%
}
.vr-div  p{
    padding: 10px 0 10px 0;
}

.vr-div  .dark-text{
    font-size: 2rem;
    font-weight: 700;
}
.vr-div .grey-text{
    color: #636161;
    font-weight: 600;
}
.vr-div > button{
    margin-top: 20px;
}
.vr-div .choice{
    display: flex;
    padding: 10px;
    background-color: #f5f4f4;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    font-weight: 500;
    color: #636161;
}
.choice > .for-tenants{
    padding: 10px;
    background-color: #fff;
    color: #865DFF;
    border-radius: 5px;
}
/* end of second right text content */
/* virtual home tour divs */
.virtual-home-tour{
    width: 25%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    border:1px solid #f1eded;
    box-shadow: inset;
    z-index: 3;
    position: absolute;
    top: 15%;
    left: 3%;
    padding: 15px;
    box-sizing: border-box;

    
}
.virtual-home-tour > i{
    margin-right: 10px;
    padding: 10px;

}
.best-deals{
    width: 25%;
    border: 1px solid ;
    background-color: #ffffff;
    border-radius: 5px;
    border:1px solid #f1eded;
    box-shadow: inset;
    z-index: 3;
    position: absolute;
    padding: 15px;
    left: 18%;
    bottom: 4%;
}







